* {
    margin: 0;
    padding: 0;
}

.title {
    width: 400px;
    height: 50px;
    margin: 30px auto;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color:#f00;
}

.btns {
    width: 190px;
    height: 30px;
    margin: 0 auto;
    text-align: center;
}

.btns button {
    padding: 5px;
    background-color: #036;
    border: 1px solid #eee;
    border-radius: 7px;
    color: #fff;
    text-align: center;
    font-size: 14px;
}

.result {
    width: 400px;
    height: 50px;
    margin: 10px auto;
    text-align: center;
    font-size: 20px;
    color: #656565;
}

.result span{
    font-size: 24px;
    font-weight: bold;
    color: #f00;
}